# Build and Release Folders
[Bb]uild/
[Bb]in/

# Other files and folders
.vscode/
.cache/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
